<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge">

  <title>{% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}</title>

  <meta name="title" content="{% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}">
  <meta name="description" content="{% if page.description %}{{ page.description }}{% else %}{{ site.description }}{% endif %}">
  <meta name="keywords" content="{% if page.keywords %}{{ page.keywords }}{% else %}{{ site.keywords }}{% endif %}">

  <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon">
  <link rel="icon" href="/favicon.ico" type="image/x-icon">

  <meta name="twitter:card" content="summary">
  <meta name="twitter:site" content="{{ site.twitter_username}}">
  <meta name="twitter:creator" content="{{ site.twitter_username}}">

  <meta name="twitter:title" content="{% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}">

  {% if page.url %}
  <meta name="twitter:url" content="{{ site.url }}{{ page.url }}">
  {% endif %}

  <meta name="twitter:description" content="{% if page.description %}{{ page.description }}{% else %}{{ site.description }}{% endif %}">

  {% if page.image %}
  <meta name="twitter:image:src" content="{{ site.url }}/assets/images/posts/{{ page.image }}">
  {% else %}
  <meta name="twitter:image:src" content="{{ site.url }}{{ site.author.picture }}">
  {% endif %}


  <!-- facebook Open Graph Metadatas -->
  <meta content="462373940634960" property="fb:app_id">
  <meta content="{{ site.title }}" property="og:site_name">
  <meta content="{% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}" property="og:title">
  {% if page.title %}
  <meta content="article" property="og:type">
  {% else %}
  <meta content="website" property="og:type">
  {% endif %}

  <meta content="{% if page.description %}{{ page.description }}{% else %}{{ site.description }}{% endif %}" property="og:description">

  {% if page.url %}
  <meta content="{{ site.url }}{{ page.url }}" property="og:url">
  {% endif %}

  {% if page.date %}
  <meta content="{{ page.date | date_to_xmlschema }}" property="article:published_time">
  <meta content="{{ site.url }}/website/about/" property="article:author">
  {% endif %}

  {% if page.image %}
  <meta content="{{ site.url }}/assets/images/posts/{{ page.image }}" property="og:image">
  {% else %}
  <meta content="{{ site.url }}{{ site.author.picture }}" property="og:image">
  {% endif %}

  <link rel="stylesheet" href="/assets/{{ site.github_username }}-{{ site.version }}.css">
  <link href='//fonts.googleapis.com/css?family=Roboto:400,400italic,500,700' rel='stylesheet' type='text/css'>
  <link rel="canonical" href="{{ page.url | replace:'index.html','' | prepend: site.url }}">
</head>
